{% extends "base.html" %}

{% block nav_about %}
    style="background-color: #e6e8ed;"
{% endblock %}

{% block content %}

{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    About <strong>Great American Natural Pet Food LLC</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img alt="" src="{% static 'pages/img/about.jpg' %}" class="img-responsive img-border-left">
            </div>
            <div class="col-md-6">
                <p>
                    Great American Natural Pet Food LLC is an Indiana based limited liability company.
                    The founders discovered the benefits of a raw diet through personal experience.
                    After feeding their own pets a raw diet for over five years they knew that they had more energy, better digestion, shinier coats and softer skin.
                    In short, their pets were healthier and much happier than when they were fed a diet of dry kibble.
                    Now, the goal of Great American Natural Pet Food LLC is to provide a natural and convenient way for other pet owners to feed a raw diet to their four-footed family members at a reasonable price.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Our <strong>Founders</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img src="{% static 'pages/img/pasteur.jpg' %}" alt="Picture of Eddie Pasteur" class="img-responsive img-full">
                <h3>
                    James E. "Eddie" Pasteur
                </h3>
                <h3>
                    <small>Founder and Managing Member</small>
                </h3>
                <hr>
                <h6>
                    A personal note from Mr. Pasteur:
                </h6>
                <p>
                    "I am one of the co-founders of Great American Natural Pet Food LLC.
                    I have been (and still am) a dog owner and pet lover for many years and believe that pets should eat a natural, balanced, diet as opposed to products that contain additives, preservatives, etc.
                    I have been in sales, sales consulting and sales management for many years and I consider this my greatest adventure because it concerns the health and well being of my "family".
                    Try our products. I guarantee that your pets will love them. Thank you."
                </p>
                <p> 
                    <strong> - James E. (Eddie) Pasteur</strong>
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <img alt="" src="http://placehold.it/750x450" class="img-responsive">
                <h3>
                    Jean Gartner
                </h3>
                <h3>
                    <small>Founder and Managing Member</small>
                </h3>
                <hr>
                <h6>
                    A personal note from Mrs. Gartner:
                </h6>
                <p>
                    "I am a retired teacher from Indianapolis. 
                    I enjoy outside activities and spending time with my family. 
                    I have been interested in healthy eating for myself for many years. 
                    I became interested in healthy pet food while researching some of the ailments that many pets have. 
                    Through this research and continual study, I have become convinced that raw feeding is the healthiest and most natural option for our furry family members. 
                    My goal is to provide pet owners with natural, healthy, pet food at an affordable price."
                </p>
                <p> 
                    <strong> - Jean Gartner</strong>
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <img src="{% static 'pages/img/sevenDogs.jpg' %}" alt="Picture of Seven Dogs" class="img-responsive img-full">
                <h3>
                    Our Furry Family
                </h3>
                <h3>
                    <small>The Reason We do What We do!</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}